html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	max-width: 1200px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

::-moz-selection {
	color: #fff;
	background-color: #000;
}
::selection {
	color: #fff;
	background-color: #000;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	padding: 5vh 7.5vw;
}

#APOD {
	font-weight: 300;
	font-size: 5rem;
	margin: 1rem auto 0 auto;
}

#image {
	margin-top: 2rem;
	width: 100%;
}

#video-container {
	margin-top: 2rem;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

#video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

#title {
	font-size: 3rem;
	font-weight: 600;
	margin-top: 1rem;
}

#copyright {
	font-size: 1.2rem;
	line-height: 1.5;
	font-style: italic;
}

#explanation {
	margin: 2rem 0 5rem 0;
	line-height: 1.5;
	text-align: justify;
}

#footer {
	text-align: center;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
#footer:hover, #footer:active {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#github-logo {
	height: 4rem;
}

@media screen and (max-width: 768px) {
	#APOD {
		font-size: 3.5rem;
	}

	#date {
		font-size: 1.2rem;
	}

	#title {
		font-size: 2rem;
		margin-top: .5rem;
	}

	#copyright {
		font-size: 1rem;
	}

	#explanation {
		font-size: 1.4rem;
	}
}