html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	max-width: 1000px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

::-moz-selection {
	color: #fff;
	background-color: #000;
}
::selection {
	color: #fff;
	background-color: #000;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	padding: 5vh 5vw;
}

.darkmode-btn {
	height: 2rem;
	width: 2rem;
	display: block;
	margin-left: auto;
	border: none;
	background: none;
}

.darkmode-icon {
	height: 100%;
	width: 100%;
}

.heading {
	font-weight: 900;
	font-size: 4rem;
	margin: 2rem 0 .5rem 0;
}

.image {
	margin-top: 2rem;
	width: 100%;
}

.video-wrapper {
	margin-top: 2rem;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.title {
	font-size: 3rem;
	font-weight: 600;
	margin-top: 1rem;
}

.copyright {
	font-size: 1.4rem;
	line-height: 1.5;
	font-style: italic;
}

.explanation {
	margin: 2rem 0 5rem 0;
	line-height: 1.7;
	text-align: justify;
}

.footer {
	text-align: center;
}

.github-logo {
	height: 3rem;
	width: 3rem;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.github-logo:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.github-logo:active {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.body-darkmode {
	background-color: #23272A;
	color: #f7f7f7;
}

.svg-darkmode {
	fill: #f7f7f7;
}

@media screen and (max-width: 768px) {
	.heading {
		font-size: 3.5rem;
		margin-top: 1.5rem;
	}

	.date, .loading {
		font-size: 1.4rem;
	}

	.title {
		font-size: 2rem;
		margin-top: .5rem;
	}

	.copyright {
		font-size: 1.2rem;
	}

	.explanation {
		font-size: 1.4rem;
	}
}